.Testimonial
  border: 10px solid 

  &--is--featured
    width:100%

.Testimonial__body
  padding: 0 50px


.Testimonial__name
  color: red
  text-align: center

  .Testimonial--is--featured &
    text-align: left