/*Bootstrap*/
/*@import 'vendor/normalize'*/
@import 'colors'
/*@import 'typography'*/


/*Components*/
@import 'components/Testimonial'

/* Page-specific sytles */
@import 'pages/join'

primary_color = green

naked_link()
  color: inherit
  text-decoration: none

  &:hover 
    text-decoration: underline

body
  color:primary_color

.heading
  naked_link() 
